In [18]:
import pandas as pd
from geopy.distance import geodesic
DISTANCE_THRESHOLD = 3000

In [19]:
# 只保留一种单位的数据
df_mp = pd.read_csv("USA/MicroPlastic.csv")
df_mp = df_mp[df_mp["Unit"] == "pieces/m3"]
df_mp.drop(columns=["Unit"], inplace=True)
df_mp["Date"] = pd.to_datetime(df_mp["Date"])
df_mp['Year'] = df_mp['Date'].dt.year
df_mp['Month'] = df_mp['Date'].dt.month
df_mp.drop(columns=["Date"], inplace=True)
df_mp

C:\Users\cyo01\AppData\Local\Temp\ipykernel_40300\1681505758.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_mp["Date"] = pd.to_datetime(df_mp["Date"])

       Measurement   Latitude   Longitude  Year  Month
0         0.006000 -54.940000  -69.154000  2015      3
1         0.074271 -35.388050  150.848530  2012      4
2         0.015594 -33.689900  -72.000500  2011      2
3         0.162885 -34.158600    4.858700  2010     12
4         0.007885 -13.725667   47.795167  2018      7
...            ...        ...         ...   ...    ...
22258     0.011676  29.130000  -65.100000  2007      5
22259     0.009196 -14.283400  124.790100  2013      9
22260     0.000000  16.880000  -73.620000  1997     12
22261     0.002160  16.630000  -63.630000  1991      2
22265     1.090147  46.194500    6.044183  2018      8

[16031 rows x 5 columns]

In [20]:
def is_within_period(row1, row2, period):
	# row1 是出生数据, row2是微塑料数据
	# period的取值为 0 ~ 4. 0对应怀孕前三月，4对应怀孕后三月
	year_diff = row1["year"] - row2["year"]
	month_diff = row1["month"] - row2["month"]
	diff = year_diff * 12 + month_diff
	left = 9 - 3 * period
	right = 11 - 3 * period
	return left <= diff <= right

In [21]:
def is_within_distance(Latitude1,Longitude1, Latitude2,Longitude2, max_distance):
    point1 = (Latitude1, Longitude1)
    point2 = (Latitude2, Longitude2)
    return geodesic(point1, point2).km <= max_distance

In [ ]:
df1 = pd.read_csv("USA_LBW.csv")
df2 = df_mp

# 计算函数
def myJoin(row, df2):
    # 示例：使用 df2 中的某些列计算 (假设根据某些条件从 df2 中获取 X 和 Y)
    result = df2['X'].sum() + row['A'] * row['B']  # 这是一个示例计算
    return result

# 在 df1 中添加新列，通过 apply 来应用计算函数
for i in range(5):
	df1[f'mp{i+1}'] = df1.apply(lambda row: myJoin(row, df2, i), axis=1)

# 打印结果
print(df1)